<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Michael's Simple Translator</title>
    <style>* { margin: 0; padding: 0; box-sizing: border-box }</style>
    <link rel="stylesheet" href="css/styles.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300" rel="stylesheet">
    <script src="translator.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <p>Michael's Simple Translator</p><p id="headerRight">Powered by <a href="https://www.ibm.com/watson/" target="_blank">IBM Watson</a></p>
      </div>
      <div class="inputOutputGroup">
        <div class="headHolder">
          <img class="heads" src="images/heads.png">
        </div>
        <div class="inputOutputHolder">
          <div class="boxLeft">
            <div class="selectBox">
              <select id="inputSelect">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
              </select>
            </div>
            <textarea id="input" class="textarea" placeholder="Enter text" autofocus></textarea>
          </div>
          <div class="boxRight">
            <div class="menuRight">
            <div class="selectBox">
              <select id="outputSelect">
                <option value="ar">Arabic</option>
                <option value="en">English</option>
                <option value="fr" selected="selected">French</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="ko">Korean</option>
                <option value="es">Spanish</option>

              </select>
            </div>
          </div>
            <textarea id="output" class="textarea"></textarea>
            <img id="clipboard" class="clipboard" src="images/clipboard.png" onClick="copyOutput()">
            <img id="success" class="success hidden" src="images/success.png">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
